body{background:#fff}
img { height: auto; max-width: auto\9; max-width:100%; }
@media only screen and (min-width: 829px){img { height: auto; width: auto;}}
.exam_c{max-width:500px;width:92.5%;margin:25px auto 1em;padding:7px 7px 20px 7px;position:relative;top:-1em;box-shadow:0 0 12px rgba(0,0,0,.6)}
.logo_c{height:30px;float:left;margin-left:8px;margin-top:4px;}
.title_c{height:40px;line-height:45px;padding-left:5px;font-size:19px;}
.desc_c{font-size:15px;line-height:23px;color:red;overflow-y:auto;-webkit-line-clamp:3}
.exam_msg{text-align:center;margin-top:10px;color:red;font-size:15px;margin-bottom:10px;}
.footer_c{color:gray;text-decoration:none;font-weight:normal;}
.weui-cell{padding:8px 12px;}
.weui-cells_form .weui-cell:before,weui-cells_form .weui-media-box:before{border:none}
.weui-input{border:1px solid #e5e5e5;padding:7px;width:98%;border-radius:4px;}
.weui-input-fill{border:1px solid #e5e5e5;padding:4px 9px 3px 9px;width:98%;font-size:15px;}
.weui-select{-webkit-appearance:none;width:101%;line-height:25px;padding:5px;border:1px solid #e5e5e5;border-radius:4px;}
.weui-cells:after{border:none}

.weui-cell:before,.weui-cells:before{border-top:none;border-bottom:none}
.weui-cell:after,.weui-cells:after{border-bottom:none;}
.q_content{padding:4px 7px 2px 18px}
.weui-check__label{font-size:15px;}
.weui-agree__checkbox{width:20px;height:20px;top:5px;}
.weui-agree{padding-left:18px}
.weui-agree__text{color:#000;font-size:15px;padding-left:11px;padding-bottom:8px;}
.weui-agree__checkbox:checked{border:none;background-color:#09BB07}
.weui-agree__checkbox:checked:before{color:#fff;font-size:16px;}
.swiper-button-prev,.swiper-button-next{top:70%;position:fixed}
.weui-navbar1{display:flex;position:fixed;z-index:500;bottom:0;width:100%;background-color:#1AAD19;color:#fff;}
.weui-navbar__item.weui-bar__item_on{background-color:#179B16;}
.weui-navbar__item{width:50%;float:left}
.button-sp-area{padding:8px 8px 8px 30px;word-wrap:break-word}
.button-sp-area a{line-height:45px;width:50px;text-align:center;margin:0px auto;border-radius:50%;border:solid 1px #bababc;padding:0px}
.button-sp-area a:after{border:none}
.weui-btn_primary{border-color:#1aad19}
.weui-cell__hdforie{margin-left:20px;}
.weui-dialog__btn{float:left;width:50%}
.spantext{vertical-align:middle;padding-left:4px;}
.spantext p,.spantext div,.spantext ul{padding-left:34px;word-break:break-all;}
.weui-agree__text p,.weui-agree__text div,.weui-agree__text ul{padding-left:30px;word-break:break-all;}
.spantext span,.weui-agree__text span{word-break:break-all;}
.opacity40{background: #FFFFFF;background-color:#000;filter:alpha(opacity=20);}
.q_content{padding:4px 7px 2px 18px;line-height:28px;position:relative;word-break:break-all;word-wrap:break-word;}
.q_content span{display:inline-block}
.q_content .ctext{display:inline-block;line-height:13px;text-align:right;left:-5px;padding-right:10px;color:#2b71c8;}
.ctextforfill{margin-top:9px;}
.topheader{border-bottom:1px solid #E5E5E5;}
#divExamTitle{height:45px;line-height:45px;padding-left:15px;white-space:nowrap;overflow:hidden;max-width:70%;text-overflow:ellipsis;display:inline-block}
.toploading{color:red;font-weight:normal}
.topright{float:right;display:inline-block;height:45px;line-height:45px;text-align:right;padding-right:7px;display:none;word-break:break-all;overflow:hidden;width:23%}
#sCurrentIndex{color:#2b71c8;}
.navigateIcon{font-size:16px;margin-right:3px;color:#c4c2c2;margin-top:4px;}
#naviagetop{text-align:center;border-bottom:1px solid #E5E5E5;height:45px;line-height:45px;}
.page__desc{padding-bottom:5px;margin-right:30px;padding-top:12px;}
/*表格*/
.common-table{width:60%;margin:40px auto;color:#222;border:1px solid #e7e5e5;border-spacing:0;border-collapse:collapse}
.common-table th{padding:7px 0 7px 5px;color:#555;line-height:22px;text-align:left;word-wrap:break-word;background-color:#eff2f5}
.common-table td{padding:7px 0 7px 5px;line-height:22px;word-wrap:break-word;text-align:left;background-color:#fff;}
.common-table .bgcolor td{background-color:#fafbfc}
.common-table td.item{padding-right:5px;color:#999;text-align:right}
.common-table td a{color:#000;font-size:16px;}
.table-border td,.table-border th{border-bottom:1px solid #e7e5e5;border-right:1px solid #e7e5e5;}
.common-table td.tdtitle{background:#fafafa;text-align:center;font-size:13px;}
.common-table td div.fixlength{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word;word-break:break-all;}
