body{font-family:"Microsoft YaHei";background:rgb(185, 190, 203);max-width:60%;margin:0 auto;height:100%}
html{background:#b9becb;height:100%}
#footer{max-width:60%;}
.weui-navbar1{width:60%;display:flex;position:fixed;z-index:500;bottom:0;background-color:#1AAD19;color:#fff;}
@media only screen and (max-width: 1024px){/*compat app*/
    body{max-width:100%}
    #footer{max-width:100%;}
    .weui-navbar1{width:100%}
}
.weui-input{height:1.8em;}
.login_header{margin:0px auto;text-align:center;padding-top:90px;}
.login_header h2{font-weight:400}
.login_header img{width:50px;height:50px;}
.login_footer_a{color:#999}
.weui-label{width:60px;}
.login_error_msg{color:red;text-align:center;margin-top:13px;}
.weui-tabbar{height:60px;position:fixed}
.weui-tabbar__item{padding:10px;}
.weui-navbar__item{width:50%;float:left}
.weui-bar__item_on i,.weui-bar__item_on p{color:#1C87D5}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label{color:#1C87D5;}
.weui-tabbar__item i{font-size:1.6rem;}
.weui-tabbar__label{font-size:0.75rem;}
.main_header{padding-top:28px;padding-bottom:28px;text-align:center;}
.main_header .loginid{font-size:16px;margin-top:10px;}
.main_header .username{font-size:13px;}
.main_header i{font-size:3.5rem;color:#1C87D5}
.main_header{color:#}
.weui-grid__icon i{font-size:1.7rem;}
.weui-cell__hd i{width:20px;margin-right:14px;display:block;font-size:1.4rem;}
/*new version*/
.index_header {margin:20px 20px 15px 20px;background:#4c6aa9;height:110px;padding-top:18px;padding-bottom:18px;text-align:center;color:#fff;box-shadow:3px 3px 4px #d8d8d8;-webkit-box-shadow: 3px 3px 3px #d8d8d8;-moz-box-shadow: 3px 3px 3px #d8d8d8;border-radius:8px;}
.index_header i{font-size:3.5rem;}
.index_header .loginid{font-size:16px;margin-top:10px;}
.index_header .username{font-size:13px;}
.index_middle1,.index_middle2{margin:15px 20px 25px 20px;}.index_middle1 i{font-size:2.6rem;margin-top:10px;}.index_middle2 i{font-size:25px;margin-top:15px;}.ctb i{font-size:2.6rem}
.col-sm-12{position:relative;min-height:1px;float:left;width:100%}
.col-md-6{float:left;width:50%}
.version-box{height:96px;margin-bottom:7px;margin-top:8px;margin-left:10px;}
.companyinfo-box{height:96px;margin-top:8px;margin-right:10px;}.myexam span{padding-top:10px;}
.box{text-align:center;color:#fff}
.index_bottom{height:75px;line-height:75px;margin-top:11px}
.myexam{background:#6785C3;box-shadow:3px 3px 3px #d8d8d8;-webkit-box-shadow: 3px 3px 3px #d8d8d8;-moz-box-shadow: 3px 3px 3px #d8d8d8;border-radius:8px;}
.examgrade{background:#6785C3;box-shadow:3px 3px 4px #d8d8d8;-webkit-box-shadow: 3px 3px 3px #d8d8d8;-moz-box-shadow: 3px 3px 3px #d8d8d8;border-radius:8px;}
.ctb{background:#8b8b8B;box-shadow:3px 3px 4px #d8d8d8;-webkit-box-shadow: 3px 3px 3px #d8d8d8;-moz-box-shadow: 3px 3px 3px #d8d8d8;border-radius:8px;}
.modifypwd{background:#99a8ca;}
.exit{background:#b9becb;}
/*yuanhuan progress*/
body{background-color:#fff}
@-webkit-keyframes load{0%{stroke-dashoffset:0}}
@keyframes load{0%{stroke-dashoffset:0}}
.progress{position:relative;display:inline-block;padding:0;text-align:center}
.progress>li{position:relative;display:inline-block;margin:0.2rem;color:red;text-align:center;font-family:Lato}
.progress>li:before{position:absolute;bottom:-2rem;width:100%;content:attr(data-name);font-weight:400}
.progress>li:after{position:absolute;top:3.7rem;left:0;width:100%;content:attr(data-percent);text-align:center;font-size:2rem}
.progress svg{width:10rem;height:10rem}
.progress svg:nth-child(2){position:absolute;top:0;left:0;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.progress svg:nth-child(2) path{opacity:.9;fill:none;stroke-width:25;stroke-dasharray:629;stroke:#fff;-webkit-animation:load 1s;animation:load 1s}
.gradeanlysis {border-radius:50%;border:1px solid #d8d8d8;margin-left:16px;margin-right:16px;width:60px;height:68px;padding-top:20px;font-size:0.8rem;}
.bookmarkicon{float:left;background:#706e6e;margin-top:4px;margin-right:2px;}
.textfromtop{margin-top:8px;}

/*表格*/
.common-table{width:60%;margin:40px auto;color:#222;border:1px solid #e7e5e5;border-spacing:0;border-collapse:collapse}
.common-table th{padding:7px 0 7px 5px;color:#555;line-height:22px;text-align:left;word-wrap:break-word;background-color:#eff2f5}
.common-table td{padding:7px 0 7px 5px;line-height:22px;word-wrap:break-word;text-align:left;background-color:#fff;}
.common-table .bgcolor td{background-color:#fafbfc}
.common-table td.item{padding-right:5px;color:#999;text-align:right}
.common-table td a{color:#000;font-size:16px;}
.table-border td,.table-border th{border-bottom:1px solid #e7e5e5;border-right:1px solid #e7e5e5;}
.common-table td.tdtitle{background:#fafafa;text-align:center;font-size:13px;}
.common-table td div.fixlength{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word;word-break:break-all;}
#endTime{font-size:12px;}