<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commontHead">
</head>
<body class="nav-md footer_fixed" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
<div class="container body" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
    <div class="main_container">
        <div th:replace="common::commonMenu"></div>
        <div th:replace="common::commonTop"></div>

        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>我的资料 <small th:replace="common::commonContentTitle"></small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content1">
                                <form class="form-horizontal form-label-left">
                                    <input type="hidden" name="id" id="id" value="${appInfo.id}">
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            编号 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${employeeMsg.uid}]]
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            昵称 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${employeeMsg.name}]]
                                            </span>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            性别 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12" th:switch="${employeeMsg.sex}">
                                            <span class="form-control col-md-7 col-xs-12" th:case="1"
                                                  th:text="男"/>
                                            <span class="form-control col-md-7 col-xs-12" th:case="0"
                                                  th:text="女"/>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            职位 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${employeeMsg.duty_name}]]
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            生日 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${#dates.format(employeeMsg.birthday,'yyyy-MM-dd')}]]
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            电话 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${employeeMsg.telephone}]]
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            权限 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12" th:switch="${employeeMsg.rights}">
                                            <span class="form-control col-md-7 col-xs-12" th:case="1"
                                                  th:text="超级管理员"/>
                                            <span class="form-control col-md-7 col-xs-12" th:case="2"
                                                  th:text="普通管理员"/>
                                            <span class="form-control col-md-7 col-xs-12" th:case="3"
                                                  th:text="仓库管理员"/>
                                            <span class="form-control col-md-7 col-xs-12" th:case="4"
                                                  th:text="普通"/>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            注册时间 <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${#dates.format(employeeMsg.create_time,'yyyy-MM-dd HH:mm:ss')}]]
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        </label>
                                        <div class="col-md-6 col-md-offset-3">
                                            <button type="button" class="btn btn-primary" onclick="back()">返回</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common::commonFooter"></div>
    </div>
</div>
<div th:replace="common::commonJs"></div>
<script>
    function back() {
        history.go(-1);
    }
</script>
</body>
</html>
