<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commontHead">
</head>
<body class="nav-md footer_fixed" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
<div class="container body" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
    <div class="main_container">
        <div th:replace="common::commonMenu"></div>
        <div th:replace="common::commonTop"></div>
        <input type="hidden" th:value="${flag}" name="flag">
        <div class="right_col" role="main">
            <div class="">
                <!--content-->
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>填写单据信息 <small th:replace="common::commonContentTitle"></small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div></div>
                            <div class="x_content">
                                <div class="clearfix"></div>
                                <div class="form-horizontal form-label-left">
                                    <form action="/addMInOutRepository" method="post" id="commit">
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">选择存储 / 所在仓库 <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" id="repository_id"
                                                        name="repository_id">
                                                    <option value="0">------请选择------</option>
                                                    <option th:each="repository : ${repositoryList}"
                                                            th:text="${repository.name}"
                                                            th:value="${repository.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--物料出入库的时候，在页面中放一个下拉框，选择出库、入库，根据选择，增加或者隐藏不相干的输入框-->
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">选择入库 / 出库 <span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" name="status"
                                                        id="status">
                                                    <option value="0">------请选择------</option>
                                                    <option value="1">入库</option>
                                                    <option value="2">出库</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="item form-group" style="display:none;" id="department">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">取货部门<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12"
                                                       data-validate-length-range="20" data-validate-words="1"
                                                       name="takeDepartment" autocomplete="off"
                                                       required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group" style="display:none;" id="takeName">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">取货人姓名<span
                                                    class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12"
                                                       data-validate-length-range="20" data-validate-words="1"
                                                       name="takeName" autocomplete="off"
                                                       required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">选择交付时间 <span
                                                    class="required">*</span>
                                            </label>
                                            <fieldset style="width: 51%;margin-top: 10px;margin-left: -10px;">
                                                <div>
                                                    <div class="controls">
                                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                                            <!--!!!!!!autocomplete="off"可以关闭输入框自动显示历史输入的数据-->
                                                            <input autocomplete="off" type="text"
                                                                   class="form-control has-feedback-left"
                                                                   id="single_cal2"
                                                                   placeholder="交付日期" name="deliverdate"
                                                                   aria-describedby="inputSuccess2Status2">
                                                            <span class="fa fa-calendar-o form-control-feedback left"
                                                                  aria-hidden="true"></span>
                                                            <span id="inputSuccess2Status2" class="sr-only"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">
                                                <button type="button" id="sub" class="btn btn-success">提交
                                                </button>
                                                <button type="button" class="btn btn-primary" onclick="back()">返回
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common::commonFooter"></div>
    </div>
</div>
<div th:replace="common::commonJs"></div>
<!-- bootstrap-daterangepicker -->
<script src="/static/js/moment/moment.min.js"></script>
<script src="/static/js/datepicker/daterangepicker.js"></script>
<script src="/static/localjs/time.js"></script>
<script src="/static/localjs/addMInOutRepositoryTwo.js"></script>
</body>
</html>

