<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commontHead">
</head>
<body class="nav-md footer_fixed" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
<div class="container body" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
    <div class="main_container">
        <div th:replace="common::commonMenu"></div>
        <div th:replace="common::commonTop"></div>
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>单据流水记录 <small th:replace="common::commonContentTitle"></small></h2>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <p class="text-muted font-13 m-b-30"></p>
                                <div id="datatable-responsive_wrapper"
                                     class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="datatable-responsive"
                                                   class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                                   cellspacing="0" width="100%" role="grid"
                                                   aria-describedby="datatable-responsive_info"
                                                   style="width: 100%;">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 10%;"
                                                        aria-label="First name: activate to sort column descending"
                                                        aria-sort="ascending">单据号
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 7%;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        商品编号
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 14%;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        商品名称
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width:7%;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        单据状态
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 8%;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        数量
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 8%;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        出入库负责人
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                        style="width: 12%;"
                                                        aria-label="Last name: activate to sort column ascending">
                                                        创建时间
                                                    </th>
                                                </tr>

                                                </thead>
                                                <tbody>
                                                <tr role="row" class="odd" th:each="pr : ${productRecordList}">
                                                    <td>[[${pr.iid}]]</td>
                                                    <td>[[${pr.product_id}]]</td>
                                                    <td>[[${pr.product_name}]]</td>
                                                    <td th:if="${pr.status ==1}">入库</td>
                                                    <td th:if="${pr.status ==2}">出库</td>
                                                    <td th:if="${pr.status ==3}">退货</td>
                                                    <td>[[${pr.quantity}]]</td>
                                                    <td>[[${pr.create_name}]]</td>
                                                    <td>[[${#dates.format(pr.create_time,'yyyy-MM-dd HH:mm:ss')}]]</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common::commonFooter"></div>
    </div>
</div>
<div th:replace="common::commonJs"></div>
</body>
</html>

