[genuitec-file-id="wc1-35"],[genuitec-lp-path="/AppInformationManagementPlatform/WebRoot/statics/localcss/appinfoadd.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

.dropzone{
	min-height:160px;
	padding:4px;
}
.dropzone .dz-message{
	font-size:24px;
}
.dropzone .dz-message span span{
	font-size:12px;
}