<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mo.mapper.SupplierMapper">

    <select id="findSupplierListByName" resultType="com.mo.pojo.Supplier" parameterType="java.util.Map">

        select * from supplier
        where 1=1
        <if test="name !=null and name !=''">
            and name like concat(concat('%',#{name}),'%')
        </if>
        ORDER BY modify_time desc limit #{start},10
    </select>

    <select id="findSupplierCountByName" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from supplier
        where 1=1
        <if test="name !=null and name !=''">
            and name like concat(concat('%',#{name}),'%')
        </if>
    </select>

    <select id="findSupplierRecordByid" resultType="com.mo.pojo.MaterialRecord" parameterType="java.lang.Integer">
        SELECT c.*,m.name as material_name ,e.name as employee_name
        FROM material_record c ,material m ,employee e
        where c.mid in (select id from material where supplier_id=#{id} )
        and c.mid=m.id
        and e.id=m.create_by
        ORDER BY c.create_time desc
        limit #{start},10
    </select>

    <update id="updateSupplier" parameterType="com.mo.pojo.Supplier">
        update supplier set
        <if test="name !=null and name !=''">
            name = #{name},
        </if>
        <if test="contact !=null and contact !=''">
            contact = #{contact},
        </if>
        <if test="telephone !=null and telephone !=''">
            telephone = #{telephone},
        </if>
        <if test="address !=null and address !=''">
            address = #{address},
        </if>
        modify_time=now(),
        modify_by=#{modify_by}
        where id=#{id}
    </update>

</mapper>