<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commontHead">
</head>
<body class="nav-md footer_fixed" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
<div class="container body" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
    <div class="main_container">
        <div th:replace="common::commonMenu"></div>
        <div th:replace="common::commonTop"></div>

        <div class="right_col" role="main">
            <div class="">
                <!--content-->
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>填写单据信息 <small th:replace="common::commonContentTitle"></small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div></div>
                            <div class="x_content">
                                <div class="clearfix"></div>
                                <div class="form-horizontal form-label-left">
                                    <form action="/addInRepository" method="post">
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">选择存储仓库 <span
                                                    class="required">*</span>
                                            </label>
                                            <select style="margin-left: 13px;padding: 7px 24% 7px 10%;font-size:15px;border-color: silver;"
                                                    name="repository_id">
                                                <option value="0">------请选择------</option>
                                                <option th:each="repository : ${repositoryList}"
                                                        th:text="${repository.name}"
                                                        th:value="${repository.id}"></option>
                                            </select>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">选择存储仓库 <span
                                                    class="required">*</span>
                                            </label>
                                            <fieldset style="width: 51%;margin-top: 10px;margin-left: -10px;">
                                                <div>
                                                    <div class="controls">
                                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                                            <!--!!!!!!autocomplete="off"可以关闭输入框自动显示历史输入的数据-->
                                                            <input autocomplete="off" type="text"
                                                                   class="form-control has-feedback-left"
                                                                   id="single_cal2"
                                                                   placeholder="交付时间" name="deliverdate"
                                                                   aria-describedby="inputSuccess2Status2">
                                                            <span class="fa fa-calendar-o form-control-feedback left"
                                                                  aria-hidden="true"></span>
                                                            <span id="inputSuccess2Status2" class="sr-only"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">
                                                <button type="submit" class="btn btn-success">提交
                                                </button>
                                                <button type="button" class="btn btn-primary" onclick="back()">返回</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common::commonFooter"></div>
    </div>
</div>
<div th:replace="common::commonJs"></div>
<!-- bootstrap-daterangepicker -->
<script src="/static/js/moment/moment.min.js"></script>
<script src="/static/js/datepicker/daterangepicker.js"></script>
<script src="/static/localjs/time.js"></script>
<script>
    function back() {
        history.go(-1);
    }
</script>
</body>
</html>

