<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commontHead">
</head>
<body class="nav-md footer_fixed" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
<div class="container body" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc1-18">
    <div class="main_container">
        <div th:replace="common::commonMenu"></div>
        <div th:replace="common::commonTop"></div>
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>客户详情 <small th:replace="common::commonContentTitle"></small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content1">
                            <form class="form-horizontal form-label-left">
                                <input type="hidden" name="id" id="id" value="${appInfo.id}">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        客户名称 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${customer.name}]]
                                            </span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        联系人 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${customer.contact}]]
                                            </span>
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        联系电话 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${customer.telephone}]]
                                            </span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        地址 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${customer.address}]]
                                            </span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        创建时间 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${#dates.format(customer.create_time,'yyyy-MM-dd HH:mm:ss')}]]
                                            </span>
                                    </div>
                                </div>

                                <div class="item form-group" th:if="${customer.modify_time!=null}">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        修改时间 <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                            <span class="form-control col-md-7 col-xs-12">
                                                [[${#dates.format(customer.modify_time,'yyyy-MM-dd HH:mm:ss')}]]
                                            </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    </label>
                                    <div class="col-md-6 col-md-offset-3">
                                        <button type="button" class="btn btn-primary" onclick="back()">返回
                                        </button>
                                    </div>
                                </div>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="common::commonFooter"></div>
        </div>
    </div>
    <div th:replace="common::commonFooter"></div>
</div>
</div>
<div th:replace="common::commonJs"></div>
<script>
    function back() {
        history.go(-1);
    }
</script>
</body>
</html>

